<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title>Garage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let carro of listaCarros">
    <ion-item (click)="detalhar(carro)">
      <ion-avatar>
        <img src="{{carro.downloadURL}}" />
      </ion-avatar>
      <ion-label class="car-label">{{carro.modelo}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button class="btn" (click)="irParaCadastrar()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
