/* home.page.scss */
.custom-header {
  --background: #b8642c; /* Cor roxa para o cabeçalho */
}
.btn{
  --background: #b8642c;
}

ion-content {
  --background: #fff; /* Cor branca para o fundo da página */
}
ion-item::part(native) {
  background: #000000;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
}

ion-item::part(detail-icon) {
  color: white;
  opacity: 1;
  font-size: 20px;
}
/* home.page.scss */

